.Form {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 80px;
    
   }

    

.contact {color: pink ;
    font-family: 'Times New Roman', Times, serif;
     font-size: 60px;
    text-align: center;}